---
import browserEnv from "browser-env";
browserEnv();
import Demo from "../components/Demo.jsx";
---
<html>
<head>
<style>
body {
  background: #09D;
}
</style>
</head>
<body>
  <Demo client:load/><br/>
  <a href="https://github.com/trashhalo/astro-3d-animate-demo"> github </a>
</body>
</html>